

<!--<div class="jumbotron">-->
  
<!--
  <div class="alert alert-danger">正在趕工中......</div>
  <p><a class="btn btn-primary btn-lg" role="button" href=<%=root_path %> >Back</a></p>
-->
	<div class="well">
		<h4>Q: 為什麼我頭皮一直癢癢的？<h4>
		<div class="alert alert-warning"><h4>專家解答: 因為你他媽的昨天沒洗頭吧!</h4></div>
	</div>


		<div class="well">
		<h4>Q: 為什麼我頭皮一直癢癢的？<h4>
		<div class="alert alert-warning"><h4>專家解答: 因為你他媽的昨天沒洗頭吧!</h4></div>
	</div>


		<div class="well">
		<h4>Q: 為什麼我頭皮一直癢癢的？<h4>
		<div class="alert alert-warning"><h4>專家解答: 因為你他媽的昨天沒洗頭吧!</h4></div>
	</div>


		<div class="well">
		<h4>Q: 為什麼我頭皮一直癢癢的？<h4>
		<div class="alert alert-warning"><h4>專家解答: 因為你他媽的昨天沒洗頭吧!</h4></div>
	</div>


		<div class="well">
		<h4>Q: 為什麼我頭皮一直癢癢的？<h4>
		<div class="alert alert-warning"><h4>專家解答: 因為你他媽的昨天沒洗頭吧!</h4></div>
	</div>


		<div class="well">
		<h4>Q: 為什麼我頭皮一直癢癢的？<h4>
		<div class="alert alert-warning"><h4>專家解答: 因為你他媽的昨天沒洗頭吧!</h4></div>
	</div>



	<div class="well">
	<h4>我要提問題：</h4>
	<textarea class="form-control" rows="15"></textarea>
	</div>



<!--</div>-->
