
<ul class="nav nav-tabs">
  <li class="active"><a href="#">全部</a></li>
  <li><a href="#">洗髮</a></li>
  <li><a href="#">護髮</a></li>
  <li><a href="#">無髮無天</a></li>
</ul>


<div class="well">
	<ul class="media-list">
	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object productImg" src="https://dl.dropboxusercontent.com/u/247736432/small_201012081233145529.jpg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">超好用無敵生髮水</h4>
	      你有釣法的困擾嗎？買這個就對了！
	    </div>
	  </li>

	  <hr>

	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object img-rounded productImg" src="https://dl.dropboxusercontent.com/u/247736432/230-0007.jpg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">TSUBAKI</h4>
	      Good!
	    </div>
	  </li>

	  <hr>

	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object img-rounded productImg" src="https://dl.dropboxusercontent.com/u/247736432/images%20(1).jpeg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">Asience</h4>
	      這個超屌！頭髮洗的超乾淨！
	    </div>
	  </li>

	  <hr>



	  	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object productImg" src="https://dl.dropboxusercontent.com/u/247736432/small_201012081233145529.jpg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">超好用無敵生髮水</h4>
	      你有釣法的困擾嗎？買這個就對了！
	    </div>
	  </li>

	  <hr>

	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object img-rounded productImg" src="https://dl.dropboxusercontent.com/u/247736432/230-0007.jpg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">TSUBAKI</h4>
	      Good!
	    </div>
	  </li>

	  <hr>

	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object img-rounded productImg" src="https://dl.dropboxusercontent.com/u/247736432/images%20(1).jpeg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">Asience</h4>
	      這個超屌！頭髮洗的超乾淨！
	    </div>
	  </li>

	  <hr>



	  	  	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object productImg" src="https://dl.dropboxusercontent.com/u/247736432/small_201012081233145529.jpg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">超好用無敵生髮水</h4>
	      你有釣法的困擾嗎？買這個就對了！
	    </div>
	  </li>

	  <hr>

	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object img-rounded productImg" src="https://dl.dropboxusercontent.com/u/247736432/230-0007.jpg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">TSUBAKI</h4>
	      Good!
	    </div>
	  </li>

	  <hr>

	  <li class="media">
	    <a class="pull-left" href="#">
	      <img class="media-object img-rounded productImg" src="https://dl.dropboxusercontent.com/u/247736432/images%20(1).jpeg" alt="...">
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading">Asience</h4>
	      這個超屌！頭髮洗的超乾淨！
	    </div>
	  </li>

	  <hr>
	</ul>


</div>